body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #ededed;
}

.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.span9 {
  font-size: 15px;
}

#main  {
   background-color: #939393;
   border: 0;
}

div.well.sidebar-nav {
   background-color: pink;
   border: #939393;
}

li.nav-header {
  color: #333;
  font-variant:small-caps;
  font-weight:bold;
}

a:link {
    color: #333;
}

a:visited {
    color: #4d4d4d;
}

a:hover {
    color: #F06;
}

a:active {
    color: #c30;
}



